/*----------------------
    Common Style
---------------------*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border: 0;
    border-radius: 5px;
    padding: 20px 40px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/*--------------------------
      Header Section
-------------------------*/
.header{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    padding: 0px 180px 0px;
}
.header-content{
    align-items: center;
    padding-top: 90px;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-right: 100px;
    margin-bottom: 20px;
    width: 500px;
}
.profile-pic{
    width: 500px;
    padding-top: 50px;
}

/*-------------------------------
    Featured Flowers Section
--------------------------------*/