/*----------------------
    Common Style
---------------------*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border: 0;
    border-radius: 8px;
    padding: 20px 40px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/*--------------------------
      Header Section
-------------------------*/
.header {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 180px 0;
    /* max-width: 1920px; */
}
.header-content{
    margin-top: 100px;
    align-items: center;
}

.header-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    padding-right: 50px;
    margin-bottom: 30px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-right: 100px;
    margin-bottom: 30px;
}
.header-pic{
    margin-bottom: 0;
    position: block;
}